<div class="lg:mt-10 mt-0 pb-20" style="background-color: #f4fafe;">
    <div class="container pt-20 desktop">
        <img data-aos="fade-up" data-aos-duration="2000" src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow_logo.png" alt="" class="mx-auto">
        <h3 data-aos="fade-up" data-aos-duration="2000" class="text-center font-bold text-2xl lg:text-4xl mt-5">LÀM ĐẸP &amp; CUỘC SỐNG</h3>
        <div class="flex pt-10">
            <div class="w-1/2">
                <img data-aos="fade-up" data-aos-duration="2000" src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow02-quote.png" alt="" class="">
                <h4 data-aos="fade-up" data-aos-duration="2000" class="lg:text-2xl text-sm font-bold tracking-wide">
                    Laneige đã nghiên cứu về tình trạng da và<br>phong cách sống của khách hàng<br>trong vòng 24h suốt 7 ngày. 
                </h4>
                <p data-aos="fade-up" data-aos-duration="3000" class="pt-2 lg:text-base text-xs">
                    Bắt nguồn từ nghiên cứu dựa trên khoa học về cơ chế dưỡng ẩm của da, LANEIGE phân tích quá trình các yếu tố môi trường từ lối sống 24/7 ngày nay tác động lên làn da của chúng ta, từ trong ra ngoài.
                </p>
            </div>
            <div class="w-1/2" data-aos="fade-up" data-aos-duration="1000">
                <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow02-img.png" alt="" class="">
            </div>
        </div>
    </div>
    <div class="container mobile relative">
        <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow02-mo-bg.jpg" alt="w-full h-full">
        <div class="absolute top-20 w-full h-auto">
            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow_logo.png" alt="" class="mx-auto">
            <h3 class="text-center font-bold lg:text-4xl mt-5">LÀM ĐẸP &amp; CUỘC SỐNG</h3>
        </div>
        <div class="absolute content mx-3">
            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow02-quote.png" alt="" class="">
            <h4 class="text-xl font-bold tracking-wide">
                Laneige đã nghiên cứu về tình trạng da và phong cách sống của khách hàng trong vòng 24h suốt 7 ngày. 
            </h4>
            <p class="pt-5">
                Bắt nguồn từ nghiên cứu dựa trên khoa học về cơ chế dưỡng ẩm của da, LANEIGE phân tích quá trình các yếu tố môi trường từ lối sống 24/7 ngày nay tác động lên làn da của chúng ta, từ trong ra ngoài.
            </p>
        </div>
    </div>
</div>
