<div class="lg:pt-10 pt-0" id="laneige">
    <div class="container mx-auto desktop pb-10 box w-full relative flex items-center">
        <div class="img w-1/2" data-aos="fade-up" data-aos-duration="1000">
            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow01-img.png" alt="" class="w-full mt-[30px]">
        </div>
        <div class="w-1/2 lg:pl-[110px] pl-10 pt-[150px]">
            <div class="txt">
                <h3 class="font-bold" data-aos="fade-up" data-aos-duration="2000">
                    LANEIGE mang đến cho bạn làn da tỏa sáng và sự tự tin trong
                    cuộc sống
                </h3>
                <div data-aos="fade-up" data-aos-duration="2000">
                    <p style="color: #555;">
                        LANEIGE tôn vinh sự đa dạng với niềm tin rằng mọi cô gái
                        đều
                        có thể tỏa sáng bởi ánh sáng và chính vẻ đẹp tiềm ẩn bên
                        trong họ.
                        <br>
                        <br>
                        LANEIGE đã quan sát chặt chẽ những gì khách hàng mong
                        muốn,
                        để giúp họ không chỉ có một làn da cân đối tươi trẻ, mà
                        còn
                        góp phần thúc đẩy một lối sống cân bằng, lành mạnh.
                        <br>
                        <br>
                        Bất kể cuộc sống hàng ngày của bạn có bận rộn đến đâu —
                        hay
                        làn da của bạn có trở nên như thế nào — LANEIGE luôn ở
                        bên
                        cạnh để giúp bạn tự tin tiến về phía trước. <br>
                        <br>
                        Bạn sẽ luôn rạng rỡ và xinh đẹp theo cách riêng cùng với
                        LANEIGE.
                    </p>
                    <p>FEEL the GLOW&nbsp;&nbsp;with LANEIGE.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto box w-full relative mobile items-center">
        <div class="w-full">
            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow01-mo-bg.jpg" alt="" class="w-full">
        </div>
        <div class="absolute top-0 lg:pt-20 pt-5 px-5 ">
            <h3 class="font-bold leading-8 text-white">
                LANEIGE mang đến cho bạn làn da tỏa sáng và sự tự tin trong
                cuộc sống
            </h3>
            <p class="text-white">
                LANEIGE tôn vinh sự đa dạng với niềm tin rằng mọi cô gái
                đều có thể tỏa sáng bởi ánh sáng và chính vẻ đẹp tiềm ẩn bên
                trong họ.
                <br>
                <br>
                LANEIGE đã quan sát chặt chẽ những gì khách hàng mong
                muốn, để giúp họ không chỉ có một làn da cân đối tươi trẻ, mà
                còn góp phần thúc đẩy một lối sống cân bằng, lành mạnh.
                <br>
                <br>
                Bất kể cuộc sống hàng ngày của bạn có bận rộn đến đâu —
                hay
                làn da của bạn có trở nên như thế nào — LANEIGE luôn ở
                bên
                cạnh để giúp bạn tự tin tiến về phía trước. 
                <br>
                <br>
                Bạn sẽ luôn rạng rỡ và xinh đẹp theo cách riêng cùng với
                LANEIGE.
            </p>
            <p class="text-white">FEEL the GLOW&nbsp;&nbsp;with LANEIGE.</p>
        </div>
    </div>
</div>