<div class="container space-y-3 pt-20">
    <img data-aos="fade-up" data-aos-duration="1000"
        src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow_logo.png" alt="" class="mx-auto">
    <h3 data-aos="fade-up" data-aos-duration="2000" class="text-4xl mt-[20px] text-center font-bold">
        SẢN PHẨM CHÍNH
    </h3>
    <p data-aos="fade-up" data-aos-duration="2000" class="text-center">
        LANEIGE đề xuất 5 công dụng chính, từ cấp ẩm sâu đến dưỡng sáng và chống lão hóa cho da.
    </p>
    <div data-aos="fade-up" data-aos-duration="2000" class="lg:h-[100px] h-10 w-[2px] bg-black flex items-center mx-auto
        lg:mb-[45px]" style="margin-top: 45px; margin-bottom: 45px;"></div>

    <div class="mobile">
        <swiper [config]="config">
            <div class="swiper-wrapper">
                <!-- cai thien do am 01-->
                <div class="swiper-slide" style="background: #f4fafe;">
                    <div class="space-y-5 mx-5">
                        <div class="w-full lg:pt-10 pt-5">
                            <div class="relative title">
                                <span class="lg:text-7xl text-5xl font-bold" style="color:#1162b4;">01</span>
                                <span class="top-1/2 lg:text-2xl text-xl ml-2 font-bold absolute center-y" style="color: #1162b4;">
                                    Làn da thiếu độ ẩm
                                </span>
                            </div>
                            <div class="des">
                                <h3 class="mt-10 lg:text-2xl text-xl uppercase font-bold" style="color: #1162b4;">CẢI THIỆN ĐỘ ẨM</h3>
                                <h4 class="text-xl font-bold" style="color:#1162b4;">Dòng Water Bank Blue Hyaluronic</h4>
                            </div>
                            <div class="content">
                                <p class="text-sm mt-5" style="color:#575757;">Làn da bị tác động bởi căng
                                    thẳng, ánh sáng xanh và thiếu ngủ lặp đi lặp lại
                                    mỗi ngày. Độ ẩm không phải là điều duy nhất
                                    bạn cần quan tâm.
                                </p>
                                <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                                    Dòng Water Bank Blue HA của LANEIGE chứa Blue
                                    Hyaluronic Acid, một thành phần độc quyền được
                                    Laneige nghiên cứu trong hơn 38 năm, cung cấp
                                    300% hiệu quả trong việc cải thiện hàng rào bảo
                                    vệ da.
                                </p>
                                <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                                    Bạn sẽ cảm nhận sức mạnh của việc dưỡng ẩm phục
                                    hồi da toàn diện sẽ giúp hàng rào bảo vệ da trở
                                    nên khỏe mạnh và đủ độ ẩm.
                                </p>
                            </div>
                        </div>
                        <div class="w-full">
                            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/laneige__brand_story_mo_220317.jpg" alt="" class="w-full">
                        </div>
                    </div>
                </div>
                <!-- cai thien do am 01-->
                <!-- duong sang 02-->
                <div class="swiper-slide" style="background: #fdf7f0;">
                    <div class="space-y-5 mx-5">
                        <div class="w-full lg:pt-10 pt-5">
                            <div class="relative title">
                                <span class="text-7xl font-bold" style="color: #A2640C;">02</span>
                                <span class="top-1/2 text-2xl ml-2 font-bold
                                    absolute center-y" style="color: #A2640C;">Một nước da xỉn màu</span>
                            </div>
                            <div class="des">
                                <h3 class="mt-10 text-2xl uppercase font-bold" style="color: #A2640C;">DƯỠNG SÁNG</h3>
                                <h4 class="text-xl font-bold" style="color: #A2640C;">Dòng Radian-C</h4>
                            </div>
                            <div class="content">
                                <p class="text-sm mt-5" style="color:#575757;">Điều gì làm cho da trông xỉn màu? Tia UV từ mặt trời, ánh sáng xanh từ điện thoại di động, ô nhiễm và thậm chí căng thẳng hằng ngày có thể gây kích ứng, xuất hiện những đốm xỉn màu trên da.
                                </p>
                                <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                                    Radian-C Cream, bảo bối xóa mờ những đốm nâu, giúp da trở nên tươi sáng, đều màu hơn chỉ trong 2 tuần nhờ sức mạnh kép của vitamin C và E.
                                </p>
                            </div>
                        </div>
                        <div class="w-full">
                            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow04-img02-mo.jpg" alt="" class="w-full h-full">
                        </div>
                    </div>
                </div>
                <!-- duong sang 02-->
                <!-- cham soc chong lao hoa 03-->
                <div class="swiper-slide" style="background: #f4fafe;">
                    <div class="space-y-5 mx-5">
                        <div class="w-full lg:pt-10 pt-5">
                            <div class="relative title">
                                <span class="text-7xl font-bold" style="color:
                                    #5e55d7;">03</span>
                                <span class="top-1/2 text-2xl ml-2 font-bold
                                    absolute center-y" style="color: #5e55d7;">Lỗ chân lông to và những nếp nhăn sâu</span>
                            </div>
                            <div class="des">
                                <h3 class="mt-10 text-2xl uppercase font-bold" style="color: #5e55d7;">CHĂM SÓC CHỐNG LÃO HÓA</h3>
                                <h4 class="text-xl font-bold" style="color:#5e55d7;">Dòng Perfect Renew Youth</h4>
                            </div>
                            <div class="content">
                                <p class="text-sm mt-5" style="color:#575757;">Lỗ chân lông giãn nở thay vì se khít là dấu hiệu khi các nếp nhăn bắt đầu hình thành.
                                </p>
                                <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                                    Perfect Renew Youth dựa trên 95% retinol tinh khiết giúp đẩy nhanh quá trình sản xuất collagen, giúp làm mềm lỗ chân lông và làm mờ các nếp nhăn chỉ sau một tuần sử dụng.
                                </p>
                            </div>
                        </div>
                        <div class="w-full">
                            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow04-img03-mo.jpg" alt="" class="w-full">
                        </div>
                    </div>
                </div>
                <!-- cham soc chong lao hoa 03-->
                <!-- cham soc giac ngu 04-->
                <div class="swiper-slide" style="background: #f4f8fc;">
                    <div class="space-y-5 mx-5">
                        <div class="w-full lg:pt-10 pt-5">
                            <div class="relative title">
                                <span class="text-7xl font-bold" style="color:
                                    #3b68b4;">04</span>
                                <span class="top-1/2 text-2xl ml-2 font-bold
                                    absolute center-y" style="color: #3b68b4;">Da trông vẫn đẹp kể cả khi không ngủ đủ giấc</span>
                            </div>
                            <div class="des">
                                <h3 class="mt-10 text-2xl uppercase font-bold" style="color: #3b68b4;">CHĂM SÓC GIẤC NGỦ</h3>
                                <h4 class="text-xl font-bold" style="color:#3b68b4;">Dòng mặt nạ ngủ</h4>
                            </div>
                            <div class="content">
                                <p class="text-sm mt-5" style="color:#575757;">Thiếu ngủ không chỉ ảnh hưởng đến sức khỏe mà còn dẫn đến tình trạng làn da không cân bằng.
                                </p>
                                <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                                    Sleeping MicrobiomeTM, công nghệ được thiết kế để hỗ trợ quá trình tái tạo da trong suốt chu kỳ của giấc ngủ (khoảng thời gian mà da mất đi lượng nước dư thừa và quá trình sản xuất bã nhờn cũng giảm sút.)
                                </p>
                                <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                                    Water Sleeping Mask EX - người hùng trong đêm, giúp làn da sáng đẹp, căng mọng và tỉnh táo hơn khi bạn thức giấc.
                                </p>
                            </div>
                        </div>
                        <div class="w-full">
                            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow04-img04-mo.jpg" alt="" class="w-full">
                        </div>
                    </div>
                </div>
                <!-- cham soc giac ngu 04-->
                <!-- trang diem co ban 05-->
                <div class="swiper-slide" style="background: #eef8f8;">
                    <div class="space-y-5 mx-5">
                        <div class="w-full lg:pt-10 pt-5">
                            <div class="relative title">
                                <span class="text-7xl font-bold" style="color:
                                    #1162b4;">05</span>
                                <span class="top-1/2 text-2xl ml-2 font-bold
                                    absolute center-y" style="color: #1162b4;">Độ che phủ trông tự nhiên</span>
                            </div>
                            <div class="des">
                                <h3 class="mt-10 text-2xl uppercase font-bold" style="color: #1162b4;">TRANG ĐIỂM CƠ BẢN</h3>
                                <h4 class="text-xl font-bold" style="color:#1162b4;">Neo Cushion</h4>
                            </div>
                            <div class="content">
                                <p class="text-sm mt-5" style="color:#575757;">Bạn cần lớp nền trang điểm không trôi mất ngay cả trong các hoạt động năng động ngoài trời và không bám dính trên màn hình điện thoại hay khẩu trang?
                                </p>
                                <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                                    NEO CUSHION là sản phẩm bán chạy nhất, sở hữu công nghệ Big Pore SpongeTM giúp cung cấp một lớp nền mỏng nhẹ, có độ che phủ cao. Và Humid defenceTM cũng giúp lớp trang điểm lâu trôi hơn khi hoạt động ngoài trời hoặc trong thời tiết nóng ẩm, giúp bạn che đi các khuyết điểm khác trên da như mẩn đỏ, vàng da, lỗ chân lông suốt 24H.
                                </p>
                            </div>
                        </div>
                        <div class="w-full">
                            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow04-img05-mo.jpg" alt="" class="w-full">
                        </div>
                    </div>
                </div>
                <!-- trang diem co ban 05-->
            </div>
            <div class="space-x-3 swiper-pagination"></div>
        </swiper>
    </div>
</div>
<div class="desktop">
    <!-- cai thien do am 01-->
    <div class="space-y-5 relative">
        <div class="flex container product-01">
            <div class="w-1/2 mt-20">
                <div class="relative" data-aos="fade-up" data-aos-duration="1000">
                    <span class="text-7xl font-bold" style="color:
                        #1162b4;">01</span>
                    <span class="top-1/2 text-2xl ml-2 font-bold absolute
                        center-y" style="color: #1162b4;">Làn da thiếu độ ẩm</span>
                </div>
                <div data-aos="fade-up" data-aos-duration="2000">
                    <h3  class="mt-20 text-3xl uppercase font-bold" style="color:#1162b4;">CẢI THIỆN ĐỘ ẨM</h3>
                    <h4 class="text-xl font-bold" style="color: #1162b4;">Dòng Water Bank Blue Hyaluronic</h4>
                </div>
                <div data-aos="fade-up" data-aos-duration="3000">
                    <p class="text-sm mt-5" style="color:#575757;">Làn da bị tác động bởi căng thẳng,
                        ánh sáng xanh và thiếu ngủ lặp đi lặp lại
                        <br> mỗi ngày. Độ ẩm không phải là điều duy nhất bạn cần
                        quan tâm.
                    </p>
                    <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                        Dòng Water Bank Blue HA của LANEIGE chứa Blue Hyaluronic
                        Acid, một thành phần độc quyền được Laneige nghiên cứu
                        trong hơn 38 năm, cung cấp 300% hiệu quả trong việc cải
                        thiện hàng rào bảo vệ da.
                    </p>
                    <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                        Bạn sẽ cảm nhận sức mạnh của việc dưỡng ẩm phục hồi da
                        toàn diện sẽ giúp hàng rào bảo vệ da trở nên khỏe mạnh
                        và đủ độ ẩm.
                    </p>
                </div>
            </div>
            <div class="w-1/2" data-aos="fade-up" data-aos-duration="3000">
                <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/laneige__brand_story_pc_220317.jpg" alt="" class="lg:w-[90%] w-full h-full">
            </div>
        </div>
    </div>
    <!-- cai thien do am 01-->
    <!-- duong sang 02-->
    <div class="pt-20">
        <div class="space-y-5 relative">
            <div class="flex container product-02">
                <div class="w-1/2" data-aos="fade-up" data-aos-duration="3000">
                    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow04-img02-pc.jpg" alt="" class="lg:w-[90%] w-full h-full">
                </div>
                <div class="w-1/2 pl-5 ml-10 mt-20">
                    <div class="relative" data-aos="fade-up" data-aos-duration="1000">
                        <span class="text-7xl font-bold" style="color:#A2640C;">02</span>
                        <span class="top-1/2 text-2xl ml-2 font-bold absolute
                            center-y" style="color: #A2640C;">Một nước da xỉn màu</span>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000">
                        <h3 class="mt-20 text-3xl uppercase font-bold" style="color:#A2640C;">DƯỠNG SÁNG</h3>
                        <h4 class="text-xl font-bold" style="color: #A2640C;">Dòng Radian-C</h4>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000">
                        <p class="text-sm mt-5 w-[90%]" style="color:#575757;">Điều gì làm cho da trông xỉn
                            màu? Tia UV từ mặt trời, ánh sáng xanh từ điện thoại di
                            động, ô nhiễm và thậm chí căng thẳng hằng ngày có thể
                            gây kích ứng, xuất hiện những đốm xỉn màu trên da.
                        </p>
                        <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                            Radian-C Cream, bảo bối xóa mờ những đốm nâu, giúp da
                            trở nên tươi sáng, đều màu hơn chỉ trong 2 tuần nhờ sức
                            mạnh kép của vitamin C và E.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- duong sang 02-->
    <!-- cham soc chong lao hoa 03-->
    <div class="pt-20">
        <div class="space-y-5 relative">
            <div class="flex container product-03">
                <div class="w-1/2 mt-20">
                    <div class="relative" data-aos="fade-up" data-aos-duration="1000">
                        <span class="text-7xl font-bold" style="color: #5e55d7">03</span>
                        <span class="top-1/2 text-2xl ml-2 font-bold absolute
                            center-y" style="color: #5e55d7">Lỗ chân lông to và
                            <br> những nếp nhăn sâu</span>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000">
                        <h3 class="mt-20 text-3xl uppercase font-bold" style="color:#5e55d7">CHĂM SÓC CHỐNG LÃO HÓA</h3>
                        <h4 class="text-xl font-bold" style="color: #5e55d7">Dòng Perfect Renew Youth</h4>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000">
                        <p class="text-sm mt-5 w-[90%]" style="color:#575757;">Lỗ chân lông giãn nở thay vì
                            se khít là dấu hiệu khi các nếp nhăn bắt đầu hình thành.
                        </p>
                        <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                            Perfect Renew Youth dựa trên 95% retinol tinh khiết giúp
                            đẩy nhanh quá trình sản xuất collagen, giúp làm mềm lỗ
                            chân lông và làm mờ các nếp nhăn chỉ sau một tuần sử
                            dụng.
                        </p>
                    </div>
                </div>
                <div class="w-1/2" data-aos="fade-up" data-aos-duration="3000">
                    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow04-img03-pc.jpg" alt="" class="lg:w-[90%] w-full h-full">
                </div>
            </div>
        </div>
    </div>
    <!-- cham soc chong lao hoa 03-->
    <!-- cham soc giac ngu 04-->
    <div class="pt-20">
        <div class="space-y-5 relative">
            <div class="flex container product-04">
                <div class="w-1/2" data-aos="fade-up" data-aos-duration="3000">
                    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow04-img04-pc.jpg" alt="" class="lg:w-[90%] w-full h-full">
                </div>
                <div class="w-1/2 pl-5 ml-10 mt-20">
                    <div class="relative" data-aos="fade-up" data-aos-duration="1000">
                        <span class="text-7xl font-bold" style="color: #3b68b4">04</span>
                        <span class="top-1/2 text-2xl ml-2 font-bold absolute
                            center-y" style="color: #3b68b4">Da trông vẫn đẹp kể cả khi không ngủ đủ giấc</span>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000">
                        <h3 class="mt-20 text-3xl uppercase font-bold" style="color:#3b68b4">CHĂM SÓC GIẤC NGỦ</h3>
                        <h4 class="text-xl font-bold" style="color: #3b68b4">Dòng mặt nạ ngủ</h4>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000">
                        <p class="text-sm mt-5 w-[90%]" style="color:#575757;">Thiếu ngủ không chỉ ảnh
                            hưởng đến sức khỏe mà còn dẫn đến tình trạng làn da
                            không cân bằng.</p>
                        <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                            Sleeping MicrobiomeTM, công nghệ được thiết kế để hỗ trợ
                            quá trình tái tạo da trong suốt chu kỳ của giấc ngủ
                            (khoảng thời gian mà da mất đi lượng nước dư thừa và quá
                            trình sản xuất bã nhờn cũng giảm sút.)
                        </p>
                        <p class="text-sm mt-5 w-[90%]" style="color:#575757;">Water Sleeping Mask EX -
                            người hùng trong đêm, giúp làn da sáng đẹp, căng mọng và
                            tỉnh táo hơn khi bạn thức giấc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cham soc giac ngu 04-->
    <!-- trang diem co ban 05-->
    <div class="pt-20">
        <div class="space-y-5 relative">
            <div class="flex container product-05">
                <div class="w-1/2 mt-20">
                    <div class="relative" data-aos="fade-up" data-aos-duration="1000">
                        <span class="text-7xl font-bold" style="color: #487371">05</span>
                        <span class="top-1/2 text-2xl ml-2 font-bold absolute
                            center-y" style="color: #487371">Độ che phủ trông tự nhiên</span>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000">
                        <h3 class="mt-20 text-3xl uppercase font-bold" style="color:#487371">TRANG ĐIỂM CƠ BẢN</h3>
                        <h4 class="text-xl font-bold" style="color: #487371">Neo Cushion</h4>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000">
                        <p class="text-sm mt-5 w-[90%]" style="color:#575757;">Bạn cần lớp nền trang điểm
                            không trôi mất ngay cả trong các hoạt động năng động
                            ngoài trời và không bám dính trên màn hình điện thoại
                            hay khẩu trang?
                        </p>
                        <p class="text-sm mt-5 w-[90%]" style="color:#575757;">
                            NEO CUSHION là sản phẩm bán chạy nhất, sở hữu công nghệ
                            Big Pore SpongeTM giúp cung cấp một lớp nền mỏng nhẹ, có
                            độ che phủ cao. Và Humid defenceTM cũng giúp lớp trang
                            điểm lâu trôi hơn khi hoạt động ngoài trời hoặc trong
                            thời tiết nóng ẩm, giúp bạn che đi các khuyết điểm khác
                            trên da như mẩn đỏ, vàng da, lỗ chân lông suốt 24H.
                        </p>
                    </div>
                </div>
                <div class="w-1/2" data-aos="fade-up" data-aos-duration="3000">
                    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow04-img05-pc.jpg" alt="" class="lg:w-[90%] w-full h-full">
                </div>
            </div>
        </div>
    </div>
    <!-- trang diem co ban 05-->
</div>